@page "/"
@using CarRental.Buisness.Classes
@using CarRental.Common.Interfaces
@using CarRental.Common.Enums
@inject HttpClient Http
@inject BookingProcessor bp

@code {
	protected override async Task OnInitializedAsync()
	{
		await bp.LoadData();

		//Används för att demonstrera bokningar i G uppgiften, ska göras om i VG delen
		var booking1 = bp.GetBookings().ElementAt(0);
		var booking2 = bp.GetBookings().ElementAt(1);

		bp.ReturnVehicle(booking2, 3500);

	}
}



<PageTitle>Car Rental Assignment</PageTitle>

<h1 class="my-3 text-center">Car Rental Assignment</h1>


<div class="container">
	<h4 class=" my-3">Vehicles</h4>

	<div id="vehicles" class="border table-responsive col-12">
		<table class="table table-borderless">
			<thead>
				<tr>
					<th scope="col">RegNo</th>
					<th scope="col">Make</th>
					<th scope="col">Odometer</th>
					<th scope="col">Cost Km</th>
					<th scope="col">Vehicle Type</th>
					<th scope="col">$ Day</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var vehicle in bp.GetVehicles())
				{
					<tr>
						<th scope="row">@vehicle.RegNumber</th>
						<td>@vehicle.Make</td>
						<td>@vehicle.Odometer</td>
						<td>@vehicle.KmCost</td>
						<td>@vehicle.VehicleType</td>
						<td>@vehicle.DailyCost $</td>
						<td>
							<span class="badge font-weight-normal fs-7 @(vehicle.VehicleStatus == VehicleStatuses.Available ? "bg-dark" : "bg-danger")">
								@(vehicle.VehicleStatus == VehicleStatuses.Available ? "Available" : "Booked")
							</span>
						</td>
					</tr>
				}

			</tbody>
		</table>
	</div>

	<h4 class=" my-3 pt-3">Bookings</h4>

	<div id="bookings" class="table-responsive table-bordered col-10 ">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">RegNo</th>
					<th scope="col">Customer</th>
					<th scope="col">Km Rented</th>
					<th scope="col">Km Returned</th>
					<th scope="col">Rented</th>
					<th scope="col">Returned</th>
					<th scope="col">Cost</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var booking in bp.GetBookings())
				{
					<tr>

						<td>@booking.Vehicle.RegNumber</td>
						<td>@booking.Customer.FullName</td>
						<td>@booking.Vehicle.Odometer</td>
						<td>@booking.KmReturned </td>
						<td>@booking.RentedDate.ToString("d")</td>
						<td>
							<span class="@(booking.ReturnedDate < booking.RentedDate ? "d-none" : "")">
								@booking.ReturnedDate.ToString("d")
							</span>
						</td>
						<td>@booking.TotalCost $</td>
						<td>
							<span class="badge font-weight-normal fs-6 @(booking.BookingStatus ? "bg-danger" : "bg-success")">
								@(booking.BookingStatus ? "Open" : "Closed")
							</span>
						</td>

					</tr>
				}

			</tbody>
		</table>
	</div>

	<h4 class=" my-3 pt-3">Customers</h4>

	<div id="Customers" class="table-responsive table-bordered  col-5">
		<table class="table ">
			<thead>
				<tr>
					<th scope="col">SSN</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var customer in bp.GetCustomer())
				{
					<tr>
						<th scope="row">@customer.SocialSecurityNumber</th>
						<td>@customer.FirstName</td>
						<td>@customer.LastName</td>

					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

