@page "/"
@using CarRental.Buisness.Classes
@using CarRental.Common.Interfaces
@using CarRental.Common.Enums
@inject HttpClient Http
@inject BookingProcessor bp

@code {
	protected override async Task OnInitializedAsync()
	{
		await bp.LoadData();

	}
}



<PageTitle>Car Rental Assignment</PageTitle>

<h1 class="my-3 text-center">Car Rental Assignment</h1>


<div class="container">
	<h4 class=" my-3">Vehicles</h4>

	<div id="vehicles" class="border table-responsive col-12">
		<table class="table table-borderless">
			<thead>
				<tr>
					<th scope="col">RegNo</th>
					<th scope="col">Make</th>
					<th scope="col">Odometer</th>
					<th scope="col">Cost Km</th>
					<th scope="col">Vehicle Type</th>
					<th scope="col">$ Day</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var vehicle in bp.GetVehicles())
				{
					<tr>
						<th scope="row">@vehicle.RegNumber</th>
						<td>@vehicle.Make</td>
						<td>@vehicle.Odometer</td>
						<td>@vehicle.KmCost</td>
						<td>@vehicle.VehicleType</td>
						<td>@vehicle.DailyCost</td>
						<td>Otto</td>
						<td></td>
					</tr>
				}

			</tbody>
		</table>
	</div>

	<h4 class=" my-3 pt-3">Bookings</h4>

	<div id="bookings" class="table-responsive table-bordered col-10 ">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">RegNo</th>
					<th scope="col">Customer</th>
					<th scope="col">Km Rented</th>
					<th scope="col">Km Returned</th>
					<th scope="col">Rented</th>
					<th scope="col">Returned</th>
					<th scope="col">Cost</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td>Otto</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<h4 class=" my-3 pt-3">Customers</h4>

	<div id="Customers" class="table-responsive table-bordered  col-5">
		<table class="table ">
			<thead>
				<tr>
					<th scope="col">SSN</th>
					<th scope="col">Last Name</th>
					<th scope="col">First Name</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var customer in bp.GetCustomer())
				{
					<tr>
						<th scope="row">@customer.SocialSecurityNumber</th>
						<td>@customer.FirstName</td>
						<td>@customer.LastName</td>

					</tr>
				}
			</tbody>
		</table>
	</div>
</div>