@page "/"
@using CarRental.Buisness.Classes
@using CarRental.Common.Interfaces
@using CarRental.Common.Enums
@inject HttpClient Http
@inject VehicleInputModel vehicleInput
@inject CustomerInputModel customerInput
@inject BookingProcessor bp


@code {
	protected override async Task OnInitializedAsync()
	{
		await bp.LoadData();


		bp.AddVehicle("Lada", "FFF222", VehicleTypes.Sedan, 200, 2, 2500);

		await bp.RentVehicle(6, 1);
		bp.ReturnVehicle(6, 3000);
	}
}



<PageTitle>Car Rental Assignment</PageTitle>

<h1 class="my-3 text-center">Car Rental Assignment</h1>


<div class="container">
	<h4 class=" my-3">Vehicles</h4>

	<div id="vehicles" class="table-responsive col-12  ">
		<table class="table table-bordered ">
			<thead >
				<tr class="bg-dark text-light">
					<th scope="col">RegNo</th>
					<th scope="col">Make</th>
					<th scope="col">Odometer</th>
					<th scope="col">Cost Km</th>
					<th scope="col">Vehicle Type</th>
					<th scope="col">$Day</th>
					<th scope="col">Action</th>
					<th scope="col">Status</th>
				</tr>
				<tr>
					<th><input @bind="vehicleInput.RegNumber" type=" text" class="form-control my-2" placeholder="RegNo" aria-label="RegNo" aria-describedby="basic-addon1"></th>
					<th><input @bind="vehicleInput.Make" type="text" class="form-control my-2" placeholder="Make" aria-label="Make" aria-describedby="basic-addon1"></th>
					<th><input @bind="vehicleInput.Odometer" type="text" class="form-control my-2" placeholder="Odometer" aria-label="Odometer" aria-describedby="basic-addon1"></th>
					<th><input @bind="vehicleInput.CostKm" type="text" class="form-control my-2" placeholder="Cost Km" aria-label="Cost Km" aria-describedby="basic-addon1"></th>
					<th><div class="input-group my-2">
							<select @bind="vehicleInput.VehicleType" class=" form-select" id="inputGroupSelect02">
							
							@foreach (var vehicleType in bp.VehicleTypeNames)
							{
								<option>@vehicleType</option>
							}
						</select>
						</div>
					</th>
					<th><input @bind="vehicleInput.DailyCost" type="text" class="form-control my-2" placeholder="Daily Cost" aria-label="Daily Cost" aria-describedby="basic-addon1"></th>
					<th><button @onclick="()=>bp.AddVehicle(vehicleInput.Make,vehicleInput.RegNumber,vehicleInput.VehicleType,vehicleInput.DailyCost,vehicleInput.CostKm,vehicleInput.Odometer)" type=" button" class="btn btn-outline-success mb-2">Add vehicle</button></th>

				</tr>
			</thead>
			<tbody>
				@foreach (var vehicle in bp.GetVehicles())
				{
					<tr>
						<th scope="row">@vehicle.RegNumber</th>
						<td>@vehicle.Make</td>
						<td>@vehicle.Odometer</td>
						<td>@vehicle.KmCost</td>
						<td>@vehicle.VehicleType</td>
						<td>@vehicle.DailyCost$</td>

						<td>
							<div class="input-group my-2">
								<select @bind="customerInput.Id" class="form-select" id="inputGroupSelect02">
									<option value="">Select a customer</option>
									@foreach (var customer in bp.GetCustomers())
									{
										<option value="@customer.Id">@customer.FullName (@customer.SocialSecurityNumber)</option>
									}
								</select>
							</div>
							<button @onclick="()=>bp.RentVehicle(vehicle.Id, customerInput.Id)" type=" button" class="btn btn-outline-success mb-2">Add</button>

							
						</td>


						<td>
							<span class="badge font-weight-normal fs-7 @(vehicle.VehicleStatus == VehicleStatuses.Available ? "bg-dark" : "bg-danger")">
								@(vehicle.VehicleStatus == VehicleStatuses.Available ? "Available" : "Booked")
							</span>
						</td>
					</tr>
				}

			</tbody>
		</table>
	</div>

	<h4 class=" my-3 pt-3">Bookings</h4>

	<div id="bookings" class="table-responsive table-bordered col-10 ">
		<table class="table">
			<thead >
				<tr class="bg-dark text-light">
					<th scope="col">RegNo</th>
					<th scope="col">Customer</th>
					<th scope="col">Km Rented</th>
					<th scope="col">Km Returned</th>
					<th scope="col">Rented</th>
					<th scope="col">Returned</th>
					<th scope="col">Cost</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var booking in bp.GetBookings())
				{
					<tr>

						<td>@booking.Vehicle.RegNumber</td>
						<td>@booking.Customer.FullName</td>
						<td>@booking.Vehicle.Odometer</td>
						<td>@booking.KmReturned </td>
						<td>@booking.RentedDate.ToString("d")</td>
						<td>
							<span class="@(booking.ReturnedDate < booking.RentedDate ? "d-none" : "")">
								@booking.ReturnedDate.ToString("d")
							</span>
						</td>
						<td>@booking.TotalCost $</td>
						<td>
							<span class="badge font-weight-normal fs-6 @(booking.BookingStatus ? "bg-danger" : "bg-success")">
								@(booking.BookingStatus ? "Open" : "Closed")
							</span>
						</td>

					</tr>
				}

			</tbody>
		</table>
	</div>

	<h4 class=" my-3 pt-3">Customers</h4>

	<div id="Customers" class="table-responsive table-bordered  col-5">
		<table class="table ">
			<thead >
				<tr class="bg-dark text-light">
					<th scope="col">SSN</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
				</tr>

				<tr>
					<th><input @bind="customerInput.SocialSecurityNumber"type="text" class="form-control my-2" placeholder="SSN" aria-label="SSN" aria-describedby="basic-addon1"></th>
					<th><input @bind="customerInput.FirstName" type="text" class="form-control my-2" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1"></th>
					<th><input @bind="customerInput.LastName" type="text" class="form-control my-2" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1"></th>
					<th><button type="button" class="btn btn-outline-success mb-2" @onclick="()=>bp.AddCustomer(customerInput.FirstName,customerInput.LastName, customerInput.SocialSecurityNumber)">Add</button></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var customer in bp.GetCustomers())
				{
					<tr>
						<th scope="row">@customer.SocialSecurityNumber</th>
						<td>@customer.FirstName</td>
						<td>@customer.LastName</td>

					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

